parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
